.contents{
    text-align: center;
    background-image: url('../img/assets/backgrounds/h_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 16px;
    font-weight: 200;
}
.contents h1{
    padding: 2px;
}
#mouse-click{
    padding-top : 30px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }
#about{
    text-align: center;
    color: salmon;
    padding-top: 30px;
    padding-bottom: 30px;
  }
#about-us{
    padding-top: 30px;
    padding-bottom: 30px;
}
.services{
    color: white;
    text-align: center;
    background-image: url('../img/assets/backgrounds/s_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    font-weight: 200;
}
#services2{
    padding-top: 30px;
    padding-bottom: 30px;
}
h2{
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#design p,h2{
    text-align: center;
}
#development p,h2{
    text-align: center;
}
#product p,h2{
    text-align: center;
}
.icon{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}
